<?xml version="1.0" ?>
<robot
  name="rbrobout_base"
  xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include
    filename="$(find robotnik_rbrobout_plus_urdf)/urdf/rbrobout_body.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_rbrobout_plus_urdf)/urdf/rbrobout_mecanum_wheel.urdf.xacro" />
  <xacro:include
    filename="$(find robotnik_rbrobout_plus_urdf)/urdf/rbrobout_control.urdf.xacro" />

  <!-- WHEELS PROPERTIES -->
  <xacro:property
    name="wheel_offset_x"
    value="0.558" />
  <xacro:property
    name="wheel_offset_y"
    value="0.2865" />
  <xacro:property
    name="wheel_offset_z"
    value="0.0" />

  <xacro:macro
    name="rbrobout"
    params="
      prefix:=robot_
      gazebo_ignition:=false
      namespace:=''
      ">
    <xacro:property
      name="hq"
      value="true" />
    <xacro:rbrobout_body prefix="${prefix}" />

    <!-- WHEELS -->
    <xacro:rbrobout_mecanum_wheel
      prefix="${prefix}front_right_"
      parent="${prefix}base_link"
      reflect="false"
      hq="${hq}"
      gazebo_ignition="${gazebo_ignition}"
      xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" />
    <xacro:rbrobout_mecanum_wheel
      prefix="${prefix}front_left_"
      parent="${prefix}base_link"
      reflect="true"
      hq="${hq}"
      gazebo_ignition="${gazebo_ignition}"
      xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" />
    <xacro:rbrobout_mecanum_wheel
      prefix="${prefix}back_left_"
      parent="${prefix}base_link"
      reflect="false"
      hq="${hq}"
      gazebo_ignition="${gazebo_ignition}"
      xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" />
    <xacro:rbrobout_mecanum_wheel
      prefix="${prefix}back_right_"
      parent="${prefix}base_link"
      reflect="true"
      hq="${hq}"
      gazebo_ignition="${gazebo_ignition}"
      xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" />

    <xacro:if value="$(arg gazebo_ignition)">
      <xacro:rbrobout_gz_ignition_control
        namespace="${namespace}"
        prefix="${prefix}" />
    </xacro:if>
  </xacro:macro>
</robot>
