<?xml version="1.0" ?>
<robot
  name="sensor_sick_s300"
  xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include
    filename="$(find robotnik_rbrobout_plus_urdf)/urdf/lidar_2d_plugin.urdf.xacro" />

  <xacro:macro
    name="sensor_sick_s300"
    params="frame_prefix
            parent
            *origin
            gazebo_ignition:=false
            node_name:=sick_s300
            node_namespace:=${None}
            min_angle:=-2.35
            max_angle:=2.35
            topic_prefix:=~/
            gpu:=false">
    <!-- node_namespace is used from node_name if not set -->
    <xacro:if value="${node_namespace == None}">
      <xacro:property
        name="node_namespace"
        value="${node_name}" />
    </xacro:if>

    <joint
      name="${frame_prefix}base_joint"
      type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${frame_prefix}base_link" />
    </joint>

    <link name="${frame_prefix}base_link">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="${-radians(90)} 0 0" />
        <geometry>
          <mesh
            filename="package://meshes/s300.dae" />
        </geometry>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="${-radians(90)} 0 0" />
        <geometry>
          <mesh
            filename="package://meshes/s300.dae" />
        </geometry>
      </collision>

    </link>

    <joint
      name="${frame_prefix}joint"
      type="fixed">
      <origin
        xyz="0.0 0 0.116"
        rpy="0 0 0" />
      <parent link="${frame_prefix}base_link" />
      <child link="${frame_prefix}link" />
    </joint>

    <link name="${frame_prefix}link" />

    <xacro:lidar_2d_plugin
      node_namespace="${node_namespace}"
      node_name="${node_name}"
      gazebo_ignition="${gazebo_ignition}"
      min_range="0.05"
      max_range="10.0"
      min_angle="${min_angle}"
      max_angle="${max_angle}"
      frame_link="${frame_prefix}link"
      rate="25.0"
      resolution="0.00575"
      samples="270" />
  </xacro:macro>
</robot>
