.viewcode-block {background-color: yellow;}

/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

/* Footer layout: copyright on the left, GitHub link on the right in smaller font. */
div[role="contentinfo"] {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

div[role="contentinfo"] p {
    margin: 0;
}

.footer-github-link {
    font-size: 0.85em;
}
