<?xml version="1.0"?>
<robot name="robotiq_arg2f_140_model" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="load_gripper" params="parent prefix">
    <xacro:include filename="$(find kortex_description)/grippers/robotiq_2f_140/urdf/robotiq_arg2f_140_model_macro.xacro" />
    <xacro:robotiq_arg2f_140 parent="${parent}" prefix="${prefix}"/>
  </xacro:macro>
</robot>
