<?xml version="1.0" ?>
<robot
  name="sensor_vectornav"
  xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include
    filename="$(find robotnik_rbkairos_plus_urdf)/urdf/imu_plugin.urdf.xacro" />

  <xacro:macro
    name="sensor_vectornav"
    params="frame_prefix
            parent
            *origin
            gazebo_ignition:=false
            node_name:=imu
            node_namespace:=${None}
            topic_prefix:=~/">
    <joint
      name="${frame_prefix}base_joint"
      type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${frame_prefix}base_link" />
    </joint>

    <link name="${frame_prefix}base_link">

      <visual>
        <origin
          rpy="0 0 0"
          xyz="0 0 0" />
        <material name="vectornav_imu_color">
          <color rgba="1 0 0 1" />
        </material>
        <geometry>
          <mesh
            filename="package://meshes/vectornav_vn100.stl" />
        </geometry>
      </visual>
      <collision>
        <origin
          rpy="0 0 0"
          xyz="0 0 0.0045" />
        <geometry>
          <box size="0.036 0.037 0.009" />
        </geometry>
      </collision>
    </link>

    <joint
      name="${frame_prefix}joint"
      type="fixed">
      <axis xyz="1 0 0" />
      <origin xyz="-0.00745 0.0 0.0088" />
      <parent link="${frame_prefix}base_link" />
      <child link="${frame_prefix}link" />
    </joint>
    <link name="${frame_prefix}link" />

    <xacro:imu_plugin
      node_namespace="${node_namespace}"
      node_name="${node_name}"
      gazebo_ignition="${gazebo_ignition}"
      frame_link="${frame_prefix}link"
      rate="200.0" />

    <gazebo reference="${frame_prefix}base_link">
      <material>Gazebo/Red</material>
    </gazebo>
  </xacro:macro>
</robot>
