<robot name="wam"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Includea all the WAM stuff -->
  <include filename="$(find barrett_model)/models/wam_top.urdf.xacro"/>

  <!-- Root link is in the world frame-->
  <link name = "world"/>

  <xacro:wam_4dof prefix="wam" parent_link="world" xyz="0.02 0.46 1" rpy="0 0 0" />
  <xacro:bhand prefix="wam/bhand" parent_link="wam/stump_link" xyz="0 0 0.06" rpy="0 0 0"/>
</robot>
